<div class="container-fluid-lg">
    <div class="p-0 mb-2 bg-success text-white">
        <div class="row text-center">
   <div class="col-md-3">
    <p class="text-center mt-3">Start aligned text.</p>
   </div>
 <div class="col-md-6">
    <marquee  direction="up" scrollamount="1">
        This is a sample scrolling text that has scrolls in the upper direction.
        </marquee>
        <marquee   direction="up" scrollamount="1">
            This is a sample scrolling text that has scrolls in the upper direction.
            </marquee>
 </div>
 <div class="col-md-3 mt-2">
    <nav class="nav">
        <a class="nav-link text-white mx-2"  href="#">Active</a>
       <span class="p-2">|</span>
        <a class="nav-link text-white mx-2">Link</a>
  
      </nav>
 </div>

        </div>
    </div>

</div>
<div class=" container mt-2 p-1 d-flex  justify-content-between">
    <div>
        <h3>FastCart</h3>
    </div>
    <div class="row">
    <div class="col-md-4">
        <div class="input-group mb-3 input-group-lg">
            <span class="input-group-text" id="basic-addon1">Location</span>
            <input type="text" class="form-control" placeholder="Username"  data-bs-toggle="modal" data-bs-target="#exampleModal">
          </div>
    </div>
    <div class="col-md-8"> 
        <div class="input-group mb-3  input-group-lg">
            <input type="text" class="form-control" placeholder="I am searching for....">
            <button class="btn btn-outline-secondary bg-warning text-white" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
          </div>
    </div>
</div>
<div class="cart">
    <ul class="nav justify-content-around">
        <li class="nav-item mt-2">
            <i class="bi bi-telephone-outbound"></i>
        </li>
        <span class="p-2">|</span>
        <li class="nav-item mt-2">
            <i class="bi bi-heart"></i>
        </li>
        <span class="p-2">|</span>
        <li class="nav-item mt-2">
            <i class="bi bi-cart"></i>
        </li>
     
        <span class="p-2">|</span>
        <li class="nav-item mt-2">
            <i class="bi bi-person"></i>
        </li>
      </ul>
</div>
   
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>